<html>
	<head>
		<meta charset="UTF-8">
		<title>Minha homepage - Julidori</title>
		<style>
			body{
				font-family: verdana;
			}
			h1{
				color: blue;
				border: 2px solid blue;
			}
		</style>
	</head>
	
	<body>
	<header>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/ola">Ola</a>
			</li>
			<li>
				<a href="/lista-de-produtos">Lista de Produtos</a>
			</li>
		</ul>
	</header>
		<h1>Minhas áreas de interesse</h1>
		<ul>
			<li>Jogos</li>
			<li>Música</li>
			<li>Web Development</li>
		</ul>
	</body>
	
</html>